<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Train System Deluxe</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/trains">Trains</a></li>
      <li><a href="/cities">Cities</a></li>
      <li><a href="/stops">Stops</a></li>
      <li><a href="/tickets">Purchase Tickets</a></li>
    </ul>
  </div>
</nav>
<div class="container">

<% if @train %>
<h4>Train Name: <%= @train.name %></h4>
<% end %>

<p><a href="/trains/<%= @train.id %>/edit">Edit/Delete Train</a></p>

<form method="post" action="/stops/<%= @train.id %>">
  <label>Select a city</label>
  <select class="form-select" name="city_name">
    <% @cities.each do |city| %>
      <option name="city_name" value="<%= city.name %>"><%= city.name %></option>
    <% end %>
  </select>
<br>
  <label for="time">Stop time:</label>
  <input style="max-width:25rem;" class="form-control" type="time" id="time" name="time">
  <button class="btn">Add stop</button>
  </form>
<%= @city_name %>
<% if @stops.any? %>
  <% @stops.each do |stop| %>
    <%= stop[:city_name]%>
    <%= stop[:station_name]%>
    <%= stop[:time]%>
    <form style="display:inline;" method="post" action="/stops/<%= @train.id %>/<%= stop[:id] %>">
    <input value="delete" name="_method" type="hidden">
    <button class="btn btn-link">Delete</button></form>
    <br> 
  <% end %>
<% else %>
    No stops at this route.
<% end %>
</div>